/* Search */
.ais-SearchBox form {
  position: relative;
}

.ais-SearchBox input {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: block;
  width: 100%;
  padding: 8px 32px;
  appearance: none;
  line-height: inherit;
  border-radius: 4px;
  color: inherit;
  background-color: transparent;
  border: 1px solid grey;
  outline: none;
  transition: all 0.2s linear;
  font-size: 14px;
}

.ais-SearchBox button {
  position: absolute;
  top: 10px;
  background: transparent;
  border: 0;
  padding: 0;
}

.ais-SearchBox .ais-SearchBox-submit {
  left: 16px;
}

.ais-SearchBox .ais-SearchBox-reset {
  right: 16px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* List */
.ais-Hits-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .ais-Hits-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .ais-Hits-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.ais-Hits-item {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 8px;
  justify-content: center;
  display: flex;
}

/* Pagination */
.ais-Pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin: 32px 0;
  justify-content: center;
}

.ais-Pagination-link {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  appearance: none;
  display: inline-block;
  text-align: center;
  line-height: inherit;
  text-decoration: none;
  font-size: inherit;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--theme-ui-colors-white);
  border: 0;
  background-color: var(--theme-ui-colors-secondary);
  cursor: pointer;
  border-radius: 0;
}

.ais-Pagination-item--firstPage .ais-Pagination-link {
  border-radius: 4px 0 0 4px;
}

.ais-Pagination-item--nextPage .ais-Pagination-link {
  border-radius: 0 4px 4px 0;
}

.ais-Pagination-item--selected .ais-Pagination-link {
  background-color: var(--theme-ui-colors-brand);
}

/* Filters */
.ais-RefinementList-list {
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 4px;
  margin-bottom: 8px;
  flex-wrap: wrap;
  display: flex;
}

.ais-RefinementList-checkbox {
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
}

.ais-RefinementList-item {
  cursor: pointer;
  background-color: var(--theme-ui-colors-lightGrey);
  color: var(--theme-ui-colors-brand);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 14px;
}

.ais-RefinementList-item--selected {
  background-color: var(--theme-ui-colors-brand);
  color: var(--theme-ui-colors-lightGrey);
}

.ais-RefinementList-label {
  cursor: pointer;
}

.ais-RefinementList-count::before {
  content: '(';
}

.ais-RefinementList-count::after {
  content: ')';
}

/* Price range */
.ais-RangeInput-separator {
  display: none;
}

.ais-RangeInput-form {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.ais-RangeInput-input {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: block;
  padding: 8px 16px;
  appearance: none;
  line-height: inherit;
  border-radius: 4px;
  color: inherit;
  background-color: transparent;
  outline: none;
  transition: all 0.2s linear;
  font-size: 14px;
  border: 1px solid var(--theme-ui-colors-darkGrey);
  outline: none;
  transition: all 0.2s linear;
}

.ais-RangeInput-input::placeholder,
.ais-RangeInput-input:-ms-input-placeholder,
.ais-RangeInput-input::-ms-input-placeholder {
  color: var(--theme-ui-colors-darkGrey);
}

.ais-RangeInput-submit {
  box-sizing: border-box;
  margin: 0;
  appearance: none;
  display: inline-block;
  text-align: center;
  line-height: inherit;
  padding: 8px 24px;
  border: 0;
  background-color: transparent;
  color: var(--theme-ui-colors-brand);
  height: 33px;
  border: 1px solid var(--theme-ui-colors-brand);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border-radius: 4px;
  font-size: 1rem;
}

.ais-RangeInput-submit:hover {
  background-color: var(--theme-ui-colors-brand);
  color: var(--theme-ui-colors-white);
}
