:root {
  --color-brand: #468d93;
  --color-secondary: #a73822;
  --color-darkBlack: #000000;
  --color-darkGrey: #888888;
  --color-lightGrey: #eef2f3;
  --color-white: #FFFFFF;
}

/* Search */
.ais-SearchBox form {
  position: relative;
}

.ais-SearchBox input {
  width: 100%;
  padding: 8px 32px;
  outline: none;
  color: inherit;
  border-color: var(--color-brand);
}

.ais-SearchBox-submitIcon {
  fill: var(--color-brand);
}

.ais-SearchBox button {
  position: absolute;
  top: 16px;
  background: transparent;
  border: 0;
  padding: 0;
}

[dir=ltr] .ais-SearchBox .ais-SearchBox-submit, 
[dir=rtl] .ais-SearchBox .ais-SearchBox-reset {
  left: 16px;
}

[dir=ltr] .ais-SearchBox .ais-SearchBox-reset,
[dir=rtl] .ais-SearchBox .ais-SearchBox-submit {
  right: 16px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* List */
.ais-Hits-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .ais-Hits-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .ais-Hits-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.ais-Hits-item {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 8px;
  justify-content: center;
  display: flex;
}

/* Pagination */
.ais-Pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin: 32px 0;
  justify-content: center;
}

.ais-Pagination-link {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  appearance: none;
  display: inline-block;
  text-align: center;
  line-height: inherit;
  text-decoration: none;
  font-size: inherit;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--color-white);
  border: 0;
  background-color: var(--color-secondary);
  cursor: pointer;
  border-radius: 0;
}

[dir=ltr] .ais-Pagination-item--firstPage .ais-Pagination-link,
[dir=rtl] .ais-Pagination-item--nextPage .ais-Pagination-link {
  border-radius: 4px 0 0 4px;
}

[dir=ltr] .ais-Pagination-item--nextPage .ais-Pagination-link,
[dir=rtl] .ais-Pagination-item--firstPage .ais-Pagination-link {
  border-radius: 0 4px 4px 0;
}

.ais-Pagination-item--selected .ais-Pagination-link {
  background-color: var(--color-brand);
}

/* Filters */
.ais-RefinementList-list {
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 4px;
  margin-bottom: 8px;
  flex-wrap: wrap;
  display: flex;
}

.ais-RefinementList-checkbox {
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  border: 0;
}

.ais-RefinementList-item {
  cursor: pointer;
  background-color: var(--color-lightGrey);
  color: var(--color-brand);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 14px;
}

.ais-RefinementList-item--selected {
  background-color: var(--color-brand);
  color: var(--color-lightGrey);
}

.ais-RefinementList-label {
  cursor: pointer;
}

.ais-RefinementList-count::before {
  content: "(";
}

.ais-RefinementList-count::after {
  content: ")";
}

/* Clear filters */
.ais-ClearRefinements-button {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  appearance: none;
  display: inline-block;
  text-align: center;
  line-height: inherit;
  text-decoration: none;
  font-size: inherit;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid;
  cursor: pointer;
  border-radius: 0;
  color: var(--color-secondary);
  background-color: var(--color-white);
  border-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
}

.ais-ClearRefinements-button:hover {
  color: var(--color-white);
  background-color: var(--color-secondary);
}
